<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191315701483-kucmo2j3i6crs8a0b01r46akur6ng232.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191315701483-kucmo2j3i6crs8a0b01r46akur6ng232</string>
	<key>API_KEY</key>
	<string>AIzaSyBkJkasAlViTfBDE2Hpl-WDRgduBKmJizU</string>
	<key>GCM_SENDER_ID</key>
	<string>191315701483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inwaters.inwaters</string>
	<key>PROJECT_ID</key>
	<string>inwaters-e8bc5</string>
	<key>STORAGE_BUCKET</key>
	<string>inwaters-e8bc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191315701483:ios:0716d57889f2e73a2ad8ae</string>
	<key>DATABASE_URL</key>
	<string>https://inwaters-e8bc5.firebaseio.com</string>
</dict>
</plist>