<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807980825102-5co6ptfc10lf768mqbf30qalt0k2j5hr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807980825102-5co6ptfc10lf768mqbf30qalt0k2j5hr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>807980825102-lqlqi803fpir4it6ptuevho3n3s19ccd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAY9JPwEZKGUMhl5O30pvh_2U7bg3EhaAc</string>
	<key>GCM_SENDER_ID</key>
	<string>807980825102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bertinnono.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-8d363</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-8d363.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807980825102:ios:3927a45b73fbd7ccdcda5f</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershare-8d363.firebaseio.com</string>
</dict>
</plist>